body {
    /* font-family: Arial;
    font-size: 14px;*/
}

.inline {
    display: inline-block;
}

.readForm, .writeForm {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.mainForm {
    width: auto; /* Ширина таблицы */
    height: auto;
    padding: 1em;
    border-radius: 10px;
    background: rgb(190,190,190) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px, inset rgba(255,255,255,.9) 3px 3px 8px, rgba(0,0,0,.8) 3px 3px 8px -3px;
}

.rForm, .wrForm {
    border: 0px solid Grey; /* Прячем рамку вокруг таблицы */
    table-layout: fixed;
    border-spacing: 15px, 20px;
}

.rForm, wrForm td:not(.btnPush) {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 0px solid Grey; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}

.rForm td:nth-child(2) {
    width: 400px;
}

.btnPush {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 0px solid Grey; /* Параметры рамки */
    text-align: center;
}

.textExc {
    font-family: Arial;
    font-size: x-large;
}

.exclamation {
    position: absolute;
    top: 18px;
    left: -11px;
    color: #fff;
    background: #32be5b;
    padding: 0 20px;
    height: 50px;
    width: 75%;
    line-height: 50px;
}

    .exclamation:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
        border-color: #1f7538 transparent transparent;
        border-width: 8px 0px 17px 10px;
        top: 100%;
        left: 0;
    }

    .exclamation:after {
        content: "";
        position: absolute;
        right: -37px;
        top: 12px;
        height: 0px;
        width: 0px;
        border: 13px solid transparent;
        border-left: 13px solid #32be5b;
        transform: scale(1.95);
        
    }
