<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular in ASP.NET Core</title>
</head>
<body>
    <div>
        <div class="form-group">
            <label>Ваше имя:</label>
            <input class="form-control" name="contactModel.contacts.name" [(ngModel)]="contactModel.contacts.name" />
        </div>
        <div class="form-group">
            <label>Ваш Email:</label>
            <input class="form-control" name="contactModel.contacts.email" [(ngModel)]="contactModel.contacts.email" />
        </div>
        <div class="form-group">
            <label>Ваш Телефон:</label>
            <input type="number" class="form-control" name="contactModel.contacts.phone" [(ngModel)]="contactModel.contacts.phone" />
        </div>
        <div class="form-group">
            <label>Тема:</label>
            <select #subject class="form-control" name="dictSubjectMessage" [(ngModel)]="subjectMessage">
                <option *ngFor="let item of dictSubjectMessage" [value]="item.id">
                    {{item.subject}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Сообщение:</label>
            <input class="form-control" name="contactModel.messages.text" [(ngModel)]="contactModel.messages.text" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" (click)="createContact(contactModel, subjectMessage)">Добавить</button>
            <!--<button class="btn btn-default">Добавить</button>-->
        </div>
    </div>
</body>
</html>
